@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  overflow: hidden;
  --slack-color: #361836;
  --secondary-color: #401e40;
}
